.login{
    background-image: url("register.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    padding-top: 70px;
}
.party{
    text-align: center;
    background-color: gainsboro;
    width: 50%;
    margin: 0 auto;
}
input{
    width: 90%;
    display :block;
    line-height: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    margin: 10px;
}
button{
    padding: 15px 20px;
    background-color: rgb(101, 101, 151);
}