body{
    background-color: #efefef;
    /* color: blue; */
    display: grid;
    grid-template-columns: 0.4fr 4fr 7fr 4fr;
}
.kettle{
    /* background-color: antiquewhite; */
    padding: 5px;
    height: 100vh;
}
.mettle{
    background-color: gray;
    font-size: 18px;
    height: 100vh;
    padding: 5px;
}
.pettle{
    background-color: aqua;
    padding: 5px;
    height: 100vh;
}
.gettle{
    background-color: aquamarine;
    padding: 5px;
    height: 100vh;
}
.pics{
    padding: 30px;
    border-radius: 50%;
    background-color: blue;
}
.fa {
    font-size: 27px;
    color: blue;
    padding: 11px;
}
.smalldiv{
    background-color: #efefef;
    padding: 5px;
    border-radius: 10px;
}
.fb{
    font-size: 20px;
    padding: 9px;
}
.pettle1{
    padding-top: 15px;
}
.story{
    padding: 150px 80px;
    border-radius: 15px;
    margin: 5px;
    border: 2px solid grey;
    text-align: center;
}
.party{
    padding: 55px 350px;
    border-radius: 20px;
    margin: 10px;
    border: 2px solid grey;
    text-align: center;
}
.pics2{
    padding: 30px;
    border-radius: 50%;
    background-color: blue;
}